<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Jobeet2 - Your best job board !{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/jobeet2/css/main.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block javascripts %}{% endblock %}
        <div id="container">

            <div style="background-color: #ffc; padding: 10px; width: 783px; margin: 0 auto; font-size: 12px; text-align: center">
                <p>
                    You are browsing the <strong><a href="http://www.strangebuzz.com">Jobeet2</a> demo website</strong>.
                    Feel free to play with it as the <em>database is reset every day</em>.
                </p>
                <p style="margin-top: 5px">
                    Jobeet2 is a tutorial (not written yet) that teaches you how to develop a web application in PHP
                    with the <a href="http://symfony.com/">Symfony2 framework</a>.
                </p>
                <p style="margin-top: 5px">
                    You can find the <a href="http://www.symfony-project.org/jobeet/1_4/Doctrine/en/">original Jobeet1 tutorial here</a>.
                </p>
                <p style="margin-top: 5px">
                    Finally you can find the source code of this application on <a href="https://github.com/COil/Jobeet2Bundle">Github</a>: feel free to fork it ! <br/>
                    <b>Day12</b> was the last chapter that was completed. (Jan-31-2012)
                </p>
            </div>

          <div id="header">
            <div class="content">
              <h1>
                  <a href="{{ path('home') }}">
                      <img src="{{ asset('bundles/jobeet2/images/logo.jpg') }}" alt="Jobeet2 Job Board" />
                  </a>
              </h1>

              <div id="sub_header">
                <div class="post">
                  <h2>Ask for people</h2>
                  <div>
                    <a href="{{ path('job_new') }}">Post a Job</a>
                  </div>
                </div>

                <div class="search">
                  <h2>Ask for a job</h2>
                  <form action="" method="get">
                    <input type="text" name="keywords" id="search_keywords" />
                    <input type="submit" value="search" />
                    <div class="help">
                      Enter some keywords (city, country, position, ...)
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div id="content">
            {% if app.session.hasFlash('notice') %}
                <div class="flash_notice">
                   {{ app.session.flash('notice') }}
               </div>
            {% endif %}
            {% if app.session.hasFlash('error') %}
                <div class="flash_notice">
                   {{ app.session.flash('error') }}
               </div>
            {% endif %}

            {% render "Jobeet2Bundle:Job:history" %}

            <div class="content">
                {% block body %}{% endblock %}
            </div>
          </div>

          <div id="footer">
            <div class="content">
              <span class="symfony">
                <img src="{{ asset('bundles/jobeet2/images/jobeet-mini.png') }}" />
                powered by
                <a href="http://symfony.com/">
                    <img src="{{ asset('bundles/jobeet2//images/symfony2.png') }}" width="100" alt="Symfony2 framework" />
                </a>
              </span>
              <ul>
                <li><a href="">About Jobeet</a></li>
                <li class="feed"><a href="/feed">Full feed</a></li>
                <li><a href="">Jobeet API</a></li>
                <li class="last"><a href="/api">Affiliates</a></li>
              </ul>
            </div>
          </div>
        </div>
    </body>
</html>