{% if route == 'job_update' %}
    {% set action = path(route, { token: entity.token }) %}
{% else %}
    {% set action = path(route) %}
{% endif %}

<form action="{{ action }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    <table id="job_form">
        <tfoot>
            <tr>
                <td colspan="2">
                    <button type="submit">Preview your job</button>
                </td>
            </tr>
        </tfoot>
        <tbody>
            {% for i, field in fields %}
                <tr>
                    <th>{{ form_label(form[field]) }}</th>
                    <td>
                        {{ form_widget(form[field]) }}
                        {{ form_errors(form[field]) }}
                        {% if helps[field] is defined %}
                            <br/>{{ helps[field] }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ form_rest(form) }}
</form>