{% extends 'Jobeet2Bundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/jobeet2/css/jobs.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="jobs">
        <table class="jobs">
            {% set i = 1 %}
            {% for job in jobeet_jobs %}
            <tr class="{{ cycle(['odd', 'even'], i) }}">
                <td class="location">{{ job.location }}</td>
                <td class="position">
                    <a href="{{ path('job_show', { id:job.id, company_slug:job.companySlug, location_slug:job.locationSlug, position_slug:job.positionSlug, }) }}">
                        {{ job.position }}
                    </a>
                </td>
                <td class="company">{{ job.company }}</td>
            </tr>
            {% set i = i + 1 %}
            {% else %}
                <li>No Jobs found</li>
            {% endfor %}
        </table>
    </div>
{% endblock %}