{% extends 'Jobeet2Bundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/jobeet2/css/jobs.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="jobs">
        {% for i, category in categories %}
            <div class="category_{{ category.slug }}">
                <div class="category">
                    <div class="feed">
                        <a href="{{ path('category_feed', { slug: category.slug, '_format': 'atom'}) }}">Feed</a>
                    </div>
                    <h1><a href="{{ path('category_show', { slug:category.slug }) }}">{{ category.name }}</a></h1>
                    {% include 'Jobeet2Bundle:Job:_list.html.twig'  with {'category': category} %}
                </div>
                {% if (( category.countActiveJobs - maxJobsOnHomepage) > 0) %}
                    <div class="more_jobs">
                        and {{ category.countActiveJobs - maxJobsOnHomepage }} <a href="{{ path('category_show', { slug:category.slug }) }}">  more...</a>
                    </div>
                {% endif %}
            </div>
        {% else %}
            <li>No categories with active jobs found</li>
        {% endfor %}
    </div>
{% endblock %}