{% extends 'Jobeet2Bundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/jobeet2/css/jobs.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}Jobs in the {{ category.name }} category{% endblock %}

{% block body %}
<div class="category">
  <div class="feed">
    <a href="">Feed</a>
  </div>
  <h1>{{ category.name }}</h1>
</div>

<table class="jobs">
    {% for i, job in category.activeJobs %}
        <tr class="{{ cycle(['odd', 'even'], i) }}">
            <td class="location">
                {{ job.location }}
            </td>
            <td class="position">
                <a href="{{ path('job_show', { id:job.id, company_slug:job.companySlug, location_slug:job.locationSlug, position_slug:job.positionSlug, }) }}">
                    {{ job.position }}
                </a>
            </td>
            <td class="company">
                {{ job.company }}
            </td>
        </tr>
    {% else %}
        <tr><td>No active jobs found in this category.</td></tr>
    {% endfor %}
</table>
{% endblock %}